# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
vignettes/MicrobiomeWorkshop_cache/html/__packages
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-20-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-23-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-33-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-34-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-35-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-36-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-37-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-38-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-39-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-49-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-50-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-51-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-63-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-64-1.png
vignettes/MicrobiomeWorkshop_files/figure-html/unnamed-chunk-65-1.png
